<!DOCTYPE html>
{% include 'first_app/europa.html' %}
{% load static %}

{% block body_block2 %}
{% endblock %}

{% block body_block %}
<div class="container" style="margin-top:-1000px;margin-right:330px;">
	<h1 class="panel_nazwa" style="margin-top: 50px;margin-right:-20px;"><img src="{% static 'images/ecl_herb.png' %}" ></h1>
	<h3 class="panel_nazwa">1 runda</h3>
<ul class="drabinka">
  <table>
  {%for kl in ECL_1_records %}
    {% if forloop.counter|add:2|divisibleby:2 %}
    <tr>
    {%else%}
    <tr class="separator">
    {%endif%}
  	<td>{% if kl.image %}
  <img src="{{ kl.image.url }}">
  			{% endif %}
  	{{ kl.name}}<a class="country"> {{kl.country}}</a> </td>
        <td class="wynik">{{kl.last_scored }}</td>
  </tr>
  {% endfor %}
  </table>
</ul>

<br>
	<h3 class="panel_nazwa">2 runda</h3>
	<ul class="drabinka">
	<table>
	{%for kl in ECL_2_records %}
		{% if forloop.counter|add:2|divisibleby:2 %}
		<tr>
		{%else%}
		<tr class="separator">
		{%endif%}
		<td>{% if kl.image %}
	<img src="{{ kl.image.url }}">
				{% endif %}
		{{ kl.name}}<a class="country"> {{kl.country}}</a></td>
				<td class="wynik">{{kl.last_scored }}</td>
	</tr>
	{% endfor %}
	</table>
	</ul>

<h3 class="panel_nazwa">3 runda</h3>

<ul class="drabinka">
<table>
{%for kl in ECL_3_records %}
	{% if forloop.counter|add:2|divisibleby:2 %}
	<tr>
	{%else%}
	<tr class="separator">
	{%endif%}
	<td>{% if kl.image %}
<img src="{{ kl.image.url }}">
			{% endif %}
	{{ kl.name}}<a class="country"> {{kl.country}}</a></td>
			<td class="wynik">{{kl.last_scored }}</td>
</tr>
{% endfor %}
</table>
</ul>

<h3 class="panel_nazwa">4 runda</h3>
<ul class="drabinka">
<table>
{%for kl in ECL_4_records %}
	{% if forloop.counter|add:2|divisibleby:2 %}
	<tr>
	{%else%}
	<tr class="separator">
	{%endif%}
	<td>{% if kl.image %}
<img src="{{ kl.image.url }}">
			{% endif %}
	{{ kl.name}}<a class="country"> {{kl.country}}</a></td>
			<td class="wynik">{{kl.last_scored }}</td>
</tr>
{% endfor %}
</table>
</ul>

<br><br><br>
</div>



{% endblock %}
